body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropdown-div {
  z-index: 1;
  position: absolute;
  left: 30%;
  top: 70px;
  width: 500px;
  height: auto;
  background-color: #f1f1f1;
  display: none;
}

.dropdown-div ul {
  list-style-type: none;
  font-weight: bold;
}

.dropdown-div a {
  text-decoration: none;
  color: unset;
}

.sidebaritem {
  margin-bottom: 40px;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}