body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropdown-div {
  z-index: 1;
  position: absolute;
  left: 30%;
  top: 70px;
  width: 500px;
  height: auto;
  background-color: #f1f1f1;
  display: none;
}

.dropdown-div ul {
  list-style-type: none;
  font-weight: bold;
}

.dropdown-div a {
  text-decoration: none;
  color: unset;
}

.sidebaritem {
  margin-bottom: 40px;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.rooms-sidebar {
  width: 200px;
  height: 500px;
  background-color: white;
}

.all_rooms {
  display: flex;
  justify-content: space-between;
}

.rooms-sidebar ul li {
  list-style-type: none;
  margin-bottom: 3px;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
}

.rooms-sidebar ul li:hover {
  opacity: 1;
  font-weight: bold;
}

.category_rooms {
  background-color: white;
  max-width: 100%;
  width: 60%;
}

.category_rooms a {
  text-decoration: none;
  color: unset;
}

.category_rooms h2 {
  background-color: #F5F5DC;
  padding: 3px;
  color: #A52A2A;
}

.category_rooms h3 {
  margin-left: 10px;
  border-bottom: 1px solid rgb(228, 225, 225);
  padding-bottom: 5px;
}

.category_rooms h3 {}